.card {
    overflow: hidden;
}
.card .card-image-preview {
    max-width: 115px;
    flex: 115px;
    margin-right: 50px;
}
.card .card-image-slider {
    max-width: 500px;
    flex: 500px;
}
.card .card-image-parent:not(:last-child) {
    margin-bottom: 20px;
}
.card .card-image-parent {
    cursor: pointer;
    opacity: 0.6;
}
.card .card-image-parent:hover {
    opacity: 1;
}
.card .card-content-pre-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    background: #47b54f;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
    display: block;
    max-width: 200px;
    text-align: center;
    color: #665f5f;
}
.card .card-content-heading-wrap {
    margin-bottom: 30px;
}
.card .card-content-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: #665f5f;
}
.card .card-button-wrap {
    background: #dc991f;
    padding: 16px;
    max-width: 200px;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}
.card .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #665f5f;
    cursor: pointer;
}
.card select , .card .text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
    text-transform: capitalize;
    color: #665f5f;
}
.card .fa-shopping-cart {
    margin-right: 15px;
    color: #FFFFFF;
    font-size: 20px;
}
.card .card-content-icons-wrap {
    margin: 0 -2px 10px;
}
.card .card-content-details-wrap {
    margin-bottom: 15px;
}
.card .fa-star , .card .fa-star-o , .card .fa-star-half-o {
    color: green;
    font-size: 22px;
    padding: 0 2px;
}
.card .card-content-image-wrapper {
    margin: 0 -50px;
}
.card .card-main-wrapper, .card .card-content-main-wrapper {
    max-width: 50%;
    flex: 50%;
    padding: 0 50px;
}