.Filterable-Image .filterable-Image-images-wrap {
    flex-wrap: wrap;
    margin-bottom: -20px;
}
.Filterable-Image .store-item-image {
    overflow: hidden;
    border-radius: 8px;
}
.Filterable-Image .store-item {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 15px;
    margin-bottom: 20px;
}
.Filterable-Image .store-item:hover .store-img {
   transform: scale(1.2);
}
.Filterable-Image .store-img {
    transition: all 0.5s ease-in-out;
}
.Filterable-Image .filterable-Image-btn-parent:not(:last-child) {
    margin-right: 45px;
}
.Filterable-Image .filterable-Image-title {
    font-family: 'arial';
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 0.28px;
    color: rgb(203, 80, 101);
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}
.Filterable-Image .filterable-Image-btn-parent {
    background: blue;
    padding: 15px 30px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.Filterable-Image .filterable-Image-btn-parent:hover {
    background-color: purple;
}
.Filterable-Image .btn {
    font-family: 'arial';
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
}
.Filterable-Image .filterable-Image-buttons-wrap {
    margin-bottom: 30px;
    justify-content: center;
}